body {
  font-size: 15px !important;
}

#nav_wrapper {
  position: fixed;
  height: 100vh;
  width: auto;
  left: 0;
  background-color: #373a3e !important;
}

* > a:hover {
  border-color: #6c757d !important;
}

/* secondary */
/* background-color: #6c757d !important; */
/* background-color: #adb5bd !important; */
/* between secondary and dark */
/* background-color: #495057 !important; */
/* dark */
/* background-color: #212529 !important; */

/* Tab-Headers */
.nav-link.active {
  border-color: #6c757d !important;
  border-bottom-color: #212529 !important;
  /* dark */
  background-color: #212529 !important;
}

/* Nav Links */
#nav_wrapper .nav-link {
  border-left: 1px solid #373a3e !important;
  border-radius: 0 !important;
}

#nav_wrapper .nav-link.active {
  background-color: #e11422 !important;
  border-radius: 0.25rem !important;
}

#nav_wrapper a:hover {
  border-left: 1px solid #6c757d !important;
}

#nav_wrapper .nav-link.active:hover {
  border-color: #373a3e !important;
  background-color: #e11422 !important;
}

.form-control:disabled,
.form-control[readonly] {
  background-color: #343a40 !important;
}
::placeholder {
  color: #adb5bd !important;
}
.form-control {
  background-color: #5b6167 !important;
  border-color: #000 !important;
  color: white;
}
.form-control:focus {
  box-shadow: 0 0 0 0.1rem #adb5bd;
  color: white;
  letter-spacing: 1px;
}

.input-group-text {
  background-color: #000 !important;
  border-color: #000 !important;
  color: #adb5bd !important;
}

/* Submit buttons */
.btn {
  min-width: 104px;
}
.btn-danger {
  background-color: #e11422 !important;
  border: 0 !important;
}
.btn-danger:hover {
  background-color: #7d0b12 !important;
}
.btn-danger:focus {
  box-shadow: 0 0 0 0.1rem #adb5bd;
}

/* Radio Buttons */
.btn-outline-danger {
  border-color: #e11422 !important;
}
.btn-check:checked + .btn-outline-danger {
  background-color: #e11422 !important;
}
.btn-outline-danger:hover {
  background-color: #7d0b12 !important;
}
/* Choose file buttons */
input[type="file"]::file-selector-button {
  background-color: #b4101b !important;
  color: white !important;
}

input[type="file"]::file-selector-button:hover {
  background-color: #e11422 !important;
}

.wrong,
.wrong:focus {
  color: #f3a1a6;
  font-weight: 500;
}

.correct,
.corect:focus {
  color: #6aa84f;
}

/* Modify margin-left acording to the nav width */
#content_wrapper,
#content_wrapper_user {
  max-width: 1200px;
  margin-left: 190px !important;
}

.user_wrapper {
  max-width: 600px;
  margin: 0 auto !important;
}

#logs {
  height: 300px;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.info {
  background: rgb(10, 0, 160);
  background: linear-gradient(
    90deg,
    rgba(10, 0, 160, 1) 0%,
    rgba(10, 0, 190, 1) 30%,
    rgba(0, 150, 170, 1) 100%
  );
}

.error {
  background: #e11422;
}

#logo {
  width: 180px;
}

a#logo-link,
a:hover#logo-link {
  border: 0 !important;
  margin: 0;
}

a#copyright,
a:hover#copyright,
a:visited#copyright {
  border: 0 !important;
  color: white !important;
  text-decoration: none !important;
}

.input-port {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 30px;
  grid-template-areas: "ip-address port";
}
.ip-address {
  grid-area: ip-address;
  padding-left: 10px;
}
.port {
  grid-area: port;
  padding-left: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100vh;
}

.modal {
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 175px);
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px 0;
  width: 350px;
  height: 200px;
  background-color: #212529;
  color: white;
  border: 1px solid black;
  border-radius: 25px;
}

.modal .close-modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0;
  top: 0;
  color: white;
  background-color: transparent;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 40px;
  padding: 0;
  border-radius: 50%;
}

.modal .close-modal-btn:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.modal .modal-buttons {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 767px) {
  #nav_wrapper {
    position: fixed;
    width: 100vw;
    height: 50px;
    bottom: 0;
    z-index: 10;
  }
  #nav_wrapper li {
    font-size: 13px !important;
  }
  /* Modify margin-bottom acording to the nav height */
  #content_wrapper {
    margin: auto !important;
    margin-bottom: 50px !important;
  }
  #content_wrapper_user {
    margin: auto !important;
  }
  .user_wrapper {
    max-width: none;
    margin: 0 auto !important;
  }
}

/* 768px to  950px*/

/* File input size */

@media only screen and (min-width: 767px) and (max-width: 950px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}

@media only screen and (max-width: 300px) {
  .form-control-small {
    min-height: calc(1.5em + 0.5rem + 2px) !important;
    padding: 0.25rem 0.5rem !important;
    font-size: 0.875rem !important;
    border-radius: 0.2rem !important;
  }
}
